# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]uild/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio files
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.vspscc
*.vssscc
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# NuGet packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.TestResults.xml
*.trx
*.coverage
*.coveragexml

# Log files
*.log
logs/

# Backup & temporary files
*~
*.bak
*.swp
*.tmp
tmp/

# Windows image file caches
Thumbs.db
ehthumbs.db

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Various caches
.idea/
.localhistory/
_NCrunch_*
*.ncrunchproject
*.ncrunchsolution